.cartProductImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.527);
    margin-bottom: 1rem;
    
}

.shopingCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 0rem 3rem 2rem;
    border-radius: .5rem;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.527);
    margin: 3rem 0rem;
}

.quantity-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.cartItemTitle {
    width: 9rem;
}


/* SMAL CART */

.smallCartWrapper {
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.smallCartProductList {
    /* margin: 0rem 3rem 0rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* gap: 1rem; */
}

.smallCartProductImage {
    width: 40px;
    height: 50px;
    object-fit: cover;

}

.smallCartPriceAndButton {
    margin: 1rem 2rem 0rem;
}

.smallCartTitle {
    margin: 1rem 2rem 1rem;
}

.smallCartNoProducts {
    margin: 1rem 2rem 1rem
}