.cartProductImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.527);
    margin-bottom: 1rem;
}

.shopingCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 0rem 3rem 2rem;
    border-radius: .5rem;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.527);
    margin: 3rem 0rem;
}

.quantity-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.cartItemTitle {
    width: 9rem;
}

/* SMAL CART */
.smallCartWrapper {
    margin: 0rem 2rem .5rem;
    display: flex;
    flex-direction: column;
}

.smallCartProductList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.smallCartProductImage {
    width: 40px;
    height: 50px;
    object-fit: cover;
}

.smallCartPriceAndButton {
    margin: 1rem 2rem 2rem;
}

.smallCartTitle {
    margin: 1rem 2rem 1rem;
}

.smallCartNoProducts {
    margin: 1rem 2rem 1rem
}

.cartContainer {
    width: 300px;
    max-height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -300px;
    background-color: white;
    transition: right 0.3s ease-in-out;
    z-index: 999;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.527);
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Enable vertical scrolling when needed */
  }
  