.productImage {
    width: 270px;
    height: 295px;
    object-fit: cover;
}

.flexRow {
    display: flex;
    flex: start;
    justify-content: center;
    flex-wrap: nowrap;
    width: 85%;
    gap: 3rem;
}

@media screen and (max-width: 1000px) {
    .flexRow {
        flex-wrap: wrap-reverse;
        gap: 1rem;
    }
}

.productImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 3rem 0rem;
}

.fullwidth-img {
    width: 100vw;
    height: 700px;
    object-fit: cover;
    position: absolute;
    top: 0;
    /* Add the blur effect */
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.productGridImage {
    width: 270px;
    height: 295px;
    object-fit: cover;
}

.flex-wrap{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.product-container {
    margin-bottom: 2rem;
}

.grid-text {
    line-height: 2rem;
    font-size: 1rem;
}


.productTitle {
    color: black;
    text-decoration: none;
    margin: .2rem 0rem .5rem;
}

.productCard {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.527);
}

.productCard:hover {
    box-shadow: 0px 1px 4px .5px rgba(0, 0, 0, 0.527);
}

.productCard:active {
    background-color: #f7f7f7;
    box-shadow: 0px 1px 3px .5px rgba(0, 0, 0, 0.527);
}

#btn-addToCart{
    z-index: 100;
    cursor: pointer;
}

.intro {
    font-family: 'Quicksand', sans-serif;
    margin: 15rem 0rem 15rem;
    padding: 0;
    position: relative;
    z-index: 1;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.527);
}

.shopy {
    color: rgb(255, 68, 0);
}